{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}
My Blog
{% endblock %}

{% block body_block %}
{% if messages %}

{% for msg in messages %}
<div class = "alert alert-success alert-dismissible" >
   {{msg}}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

</div>
{% endfor %}
{% endif %}
{% for blog in user.post_author.all %}
<h3>{{blog.blog_title}}</h3>
<h6>{{blog.publish_date}}</h6>

<div class="row">
    <div class="col-sm-4">
        <img src="/media/{{blog.blog_image}}" width="100%">
    </div>
    <div class="col-sm-8">
        <p>{{blog.blog_content|range_filter|linebreaks }}
            <a href="{% url 'blog_details' blog.id %}">Read more</a>
        </p>
      
        <h6>{{blog.liked_blog.count}} Likes | {{blog.blog_comment.count}} Comments</h6>
    </div>
</div>
<a href="{% url 'edit_blog' blog.id %}" class="btn btn-primary p-2">Edit Details</a>

<a href="{% url 'delete_blog' blog.id %}" class="btn btn-primary p-2">Delete Blog</a>

<hr>

{% endfor %}

{% endblock %}